<h1>Lista de productos actualizada:</h1>
<div id="products">
    {{#each products}}
        <div>
            <p>Id: {{this._id}}</p>
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Code: {{this.code}}</p>
            <p>Price: {{this.price}}</p>
            <p>Status: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>
            {{#if this.thumbnails}}
                <p>Tumbnails:</p>
                {{#each this.thumbnails}}
                    <p>{{this}}</p>
                {{/each}}
            {{/if}}
        </div>
        <hr>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>