<h1>Lista de productos actualizada:</h1>
<div id="products">
    {{#each products}}
        <div>
            <p>Id: {{_id}}</p>
            <p>Title: {{title}}</p>
            <p>Description: {{description}}</p>
            <p>Code: {{code}}</p>
            <p>Price: {{price}}</p>
            <p>Status: {{status}}</p>
            <p>Stock: {{stock}}</p>
            <p>Category: {{category}}</p>
            {{#if thumbnails}}
                <p>Tumbnails:</p>
                {{#each thumbnails}}
                    <img style="height: 150px;" src="{{this}}"/>
                {{/each}}
            {{/if}}
        </div>
        <hr>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>